doctype html
html(ng-app)
  head
    // bower:js
    // endbower

    //start scripts
    //end scripts

    // bower:css
    // endbower

    //start css
    //end css

    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")



